._none {display:none;}
._pointer {cursor:pointer}
._left {float:left;}
._right {float:right;}


.logo-big {height:50px;line-height:50px;padding:0 8px;}
.logo-big a {line-height:50px;color:#f39c12;font-size:16px;}
.logo-big a:hover {color:#fff;}
.img-icon { width:auto;height:24px;margin-top:-4px;}

.page-option {position:relative;padding:16px 0 0 0;margin:16px 0;border-bottom: 1px solid #f4f4f4;cursor:pointer;}
.page-option:hover {background-color:#f4f4f4}

.edui-editor {width:100%;}

.sort-option:hover {cursor:pointer;background-color:#f4f4f4;}

.edit-img {width:auto;min-width:100px;max-width:100%;height:100px;}
.edit-img img {width:auto;height:98px;}


.info-container {padding-top:0;padding-bottom:0;font-size:13px;}
.info-container a {color:#666;}
.info-container a:hover {color:orange;}


.more-box {padding:0;}


.item-piece {margin-bottom:8px;}

.item-piece .pull-left {margin-right:12px;}
.item-piece .pull-right {margin-left:12px;}
.item-piece .form-group {margin-bottom:0;}

.item-entity-container {border-bottom:1px solid #eee;background:#fff;}
.item-title-container a {color:#5595cc;font-size:16px;}
.item-title-container .text-red {color:#e7072e}


article {max-height:24px;}

.comment-piece {padding:8px;}
.comment-title-container {padding:0;}
.comment-content-container {padding:8px;}
.comment-reply-input-container {display:none;padding:2px 0;margin-bottom:16px;border-bottom:1px solid #fff;background:#f4f4f4;}

.reply-container {padding:8px;}
.reply-list-container {margin-top:0;}

.reply-piece {padding:8px 8px;border-top:1px solid #ccc;background:#f4f4f4;}
.reply-piece:first-child  {border-top:0;}
.reply-title-container {padding:0 8px}
.reply-tools-container {padding:8px;}
.reply-input-container {display:none;padding:2px 0;background:#fff;}

.btn-group { ackground-color:inherit;}
.comment-choice-container .checkbox, .radio {margin-top:0;margin-bottom:0;}
.btn-more {border:1px solid #f4f4f4;background:#f8f8f8;}


