._none {display:none;}
._pointer {cursor:pointer}
._left {float:left;}
._right {float:right;}


.page-option {position:relative;padding:16px 0 0 0;margin:16px 0;border-bottom: 1px solid #f4f4f4;cursor:pointer;}
.page-option:hover {background-color:#f4f4f4}

.edui-editor {width:100%;}

.sort-option:hover {cursor:pointer;background-color:#f4f4f4;}

.edit-img {width:auto;min-width:100px;max-width:100%;height:100px;}
.edit-img img {width:auto;height:98px;}



.more-box {padding:0;}

.item-piece .pull-left {margin-right:12px;}
.item-piece .pull-right {margin-left:12px;}

.item-piece .form-group {margin-bottom:0;}

.comment-piece {padding:8px;}
.comment-title-container {padding:0;}
.comment-content-container {padding:8px;}
.comment-reply-input-container {display:none;padding:2px 0;margin-bottom:16px;border-bottom:1px solid #fff;background:#f4f4f4;}

.reply-container {padding:8px;}
.reply-list-container {margin-top:0;}

.reply-piece {padding:8px 8px;border-top:1px solid #ccc;background:#f4f4f4;}
.reply-piece:first-child  {border-top:0;}
.reply-title-container {padding:0 8px}
.reply-tools-container {padding:8px;}
.reply-input-container {display:none;padding:2px 0;background:#fff;}

